# Vivado
*.jou
*.log
*.str

.cache/
.hw/
.ip_user_files/
.sim/
.Xil/

*.runs/
*.gen/
*.tmp/

*.dcp
*.bit
*.bin

*.vcd
*.vvp
*.wdb
*.exe

improvedMIPS.sim/
improvedMIPS.runs/
xsim.dir/
# Python
.venv/
__pycache__/